.site-header{
    height: 1218px;
    position: relative;
    padding: 37px 0 37px 0;
    background: #363740;
}

.header__logo-img{
    padding: 0 42px 0 32px;
    margin-bottom: 77px;
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 12px;
}

.span-header{
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    opacity: 0.7;
    color: #A4A6B3;
}

.header__top-list{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DFE0EB;
}

.header__top-item{
    padding: 20px 0 20px 32px;
    border-left: 4px solid transparent;
}

.header__top-item:last-child{
    margin-bottom: 16px;
}

.header__top-item:hover{
    border-left: 4px solid #DDE2FF;
    background-color: #1e1e1e;
}

.header__top-item:hover path{
    fill : #DDE2FF;
}

.header__top-item a{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__top-item span{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    letter-spacing: 0.2px;
    color: #A4A6B3;
}

.header__top-item:hover span{
    color: #DDE2FF
}


.header__bottom-list{
    display: flex;
    flex-direction: column;
}

.header__bottom-item{
    padding: 20px 0 20px 32px;
    border-left: 4px solid transparent;
    background-color: #363740;
}

.header__bottom-item:hover{
    border-left: 4px solid #DDE2FF;
    background-color: #1e1e1e;
}

.header__bottom-item:hover path{
    fill : #DDE2FF;
}

.header__bottom-item a{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__bottom-item span{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    letter-spacing: 0.2px;
    color: #A4A6B3;
}

.header__bottom-item:hover span{
    color: #DDE2FF
}

.header button{
    display: none;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #DDE2FF;
}

@media screen and (max-width: 838px){
    .site-header{
        width: 80px;
    }

    .header__logo-img{
        padding-left: 24px;
        padding-right: 24px;
    }

    .span-header {
        display: none;
    }

    .header__logo-img,
    .header__top-item,
    .header__bottom-item:hover .header>span{
        display: block;
    }

    .header__top-item,
    .header__bottom-item{
        padding-left: 28px;
        padding-right: 29px;
        border-right: 4px solid transparent;
    }

    .header button{
        position: absolute;
        bottom: 20px;
        display: block;
        padding: 0 24px;
    }
    .active{
        display: block;
    }
}

.active{
    display: block;
}